@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:20px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

h1 {
  color:#222;
  margin:0 0 20px;
}

p, table {
  margin:0 0 10px;
}

h1 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

.title {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.content {
    padding-top: 20px;
    padding-bottom: 10px;
}

#data_table {
    height: 200px;
}

#choiceform {
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}

#left_column {
    width: 35%;
    float:left;
}

#right_column {
    width: 65%;
    float: right;
}

.area{
    fill: #C0C0C0;
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #777;
}

.selected {
    fill: #fff;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.test-fill {
    fill: #f00;
}

.c0-50 { fill:rgb(247,251,255); }
.c51-100 { fill:rgb(222,235,247); }
.c101-150 { fill:rgb(198,219,239); }
.c151-200 { fill:rgb(158,202,225); }
.c201-250 { fill:rgb(107,174,214); }
.c251-300 { fill:rgb(66,146,198); }
.c301-350 { fill:rgb(33,113,181); }
.c350on { fill:rgb(8,81,156); }

#petition {
  width: 100%;
  max-width: 300px;
}
