.Conservative {
  fill: #333399;
}
.Green {
  fill: #339900;
}
.Independent {
  fill: #996699;
}
.Labour {
  fill: #CC0000;
}
.LabourCooperative {
  fill: #CC0000;
}
.LiberalDemocrat {
  fill: #FF9900;
}
.PlaidCymru {
  fill: #006600;
}
.ScottishNationalParty {
  fill: #FFCC00;
}
.Speaker {
  fill: #333399;
}
.UKIP {
  fill: #70147A;
}
.DUP {
  fill: #D46A4C;
}
.SinnFin {
  fill: #008800;
}
.SocialDemocraticandLabourParty {
  fill: #99FF66;
}
.UUP {
  fill: #9999FF;
}
