.Conservative {
  fill: #333399;
}
.GreenParty {
  fill: #339900;
}
.Independent {
  fill: #996699;
}
.Labour {
  fill: #CC0000;
}
.LabourCoop {
  fill: #CC0000;
}
.LiberalDemocrat {
  fill: #FF9900;
}
.PlaidCymru {
  fill: #006600;
}
.ScottishNationalParty {
  fill: #FFCC00;
}
.Speaker {
  fill: #333399;
}
.UKIndependenceParty {
  fill: #70147A;
}
.DemocraticUnionistParty {
  fill: #D46A4C;
}
.SinnFin {
  fill: #008800;
}
.SocialDemocraticLabourParty {
  fill: #99FF66;
}
.UlsterUnionistParty {
  fill: #9999FF;
}
