.Conservative {
  fill: #0087DC;
}
.GreenParty {
  fill: #6AB023;
}
.Independent {
  fill: #996699;
}
.Labour {
  fill: #DC241f;
}
.LabourCoop {
  fill: #CC0000;
}
.LiberalDemocrat {
  fill: #FDBB30;
}
.PlaidCymru {
  fill: #008142;
}
.ScottishNationalParty {
  fill: #FFFF00;
}
.Speaker {
  fill: #ffffff;
}
.UKIndependenceParty {
  fill: #70147A;
}
.DemocraticUnionistParty {
  fill: #D46A4C;
}
.SinnFin {
  fill: #008800;
}
.SocialDemocraticLabourParty {
  fill: #99FF66;
}
.UlsterUnionistParty {
  fill: #9999FF;
}
