@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


/* General */


body {
  font-family: 'Roboto', sans-serif;
  background-color: White;
  font-weight: 300;
}

h1 {
  margin: 0 0 20px;
  font-weight: 300;
  color: White;
  font-size: 2.5em;
}

p, table {
  margin: 0px;
}

a {
  color: White;
  font-weight: 400;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
}


/* Left Column */


#left_column {
  height: 100%;
  width: 20%;
  top:0;
  left:0;
  position: absolute;
  float:left;
  padding: 20px;
  background-color: #812A80;
  color: White;
}

@media (max-width: 720px) {
  #left_column {
    display: none;
  }
}

.form_section {
  padding-top: 3px;
}

#petition_dropdown {
  width: 85%;
}

#constituency {
  width: 85%;
}

#petition_url {
  font-size: 1em;
  width: 50%;
}

#petition_link {
  font-size: 1em;
  max-width: 80%;
}

#link_help {
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 3px;
}

#petition_button {
  font-size: 0.8em;
  margin-left: 0.2em;
}

#help {
  font-size: 0.9em;
  overflow: auto;
  max-height: 200px;
  padding-bottom: 20px;
}

.help_header {
  font-weight: 400;
  font-size: 1.1em;
}

#licence {
  position: absolute;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  width: 90%;
  vertical-align: bottom;
  font-size: 0.75em;
}

@media (max-height: 720px) {
  #licence {
    font-size: 0.6em;
  }
}

#geojson_link {
  color: #c29fd1;
}

#geojson_link:hover {
  color: White;
}


/* Right Column */

#right_column {
  width: 80%;
  float: right;
  color: White;
}

@media (max-width: 720px) {
  #right_column {
    width: 100%;
  }
}

#petition_info {
  position: fixed;
  bottom: 40px;
  left: 25%;
  max-width: 18%;
  padding: 20px;
  background-color: #812A80;
  font-size: 0.8em;
}

@media (max-width: 720px) {
  #petition_info {
    bottom: 18%;
    left: 10px;
    font-size: 0.5em;
    max-width: 20%;
    padding: 10px;
  }
}

@media (max-height: 480px) {
  #petition_info {
    bottom: 23%;
    font-size: 0.3em;
    max-width: 25%;
  }
}

@media (max-height: 360px) {
  #petition_info {
    visibility: hidden;
  }
}

@media (max-width: 720px) {
  .sign {
    max-width: 40%;
  }
}

#petition_action {
  font-size: 1.2em;
  font-weight: 400;
}

#signatures {
  font-size: 1.5em;
  padding-left: 2px;
}

#constituency_info {
  position: fixed;
  top: 40px;
  left: 25%;
  display: none;
  width: 12%;
  padding: 15px 20px 20px 20px;
  background-color: #812A80;
  font-size: 0.8em;
}

@media (max-width: 720px) {
  #constituency_info {
    top: 10%;
    left: 10px;
    width: 18%;
    font-size: 0.5em;
    padding: 10px;
  }
}

@media (max-height: 480px) {
  #constituency_info {
    width: 35%;
    font-size: 0.3em;
    top: 12%;
  }
}

#constituency_name {
  font-size: 1.2em;
  font-weight: 400;
  padding-bottom: 5px;
}

#data_count {
  font-weight: 300;
  font-size: 2.5em;
}

#key {
  width: 100%;
  max-width: 150px;
  position: fixed;
  right: 20px;
  top: 20px;
  color: Black;
  font-weight: 400;
  background-color: #f6f6f6;
  opacity: 0.75;
  padding: 10px;
}

@media (max-width: 720px) {
  #key {
    top: 10%;
    right: 10px;
    max-width: 100px;
    padding: 5px;
    font-size: 0.5em;
  }
}

@media (max-height: 480px) {
  #key {
    font-size: 0.3em;
    padding: 2px;
    top: 12%;
  }
}

@media (max-height: 360px) {
  #key {
    visibility: hidden;
  }
}

#controls {
  text-align: center;
  width: 100%;
  max-width: 150px;
  position: fixed;
  bottom: 50%;
  right: 20px;
  color: Black;
  font-weight: 400;
  background-color: #f6f6f6;
  opacity: 0.75;
  padding: 10px;
}

@media (max-width: 720px) {
  #controls {
    bottom: 18%;
    right: 10px;
    max-width: 120px;
    padding: 5px;
    font-size: 0.6em;
  }
}

@media (max-height: 480px) {
  #controls {
    font-size: 0.3em;
    bottom: 23%;
  }
}

@media (max-height: 360px) {
  #controls {
    display: none;
  }
}

#share {
  text-align: center;
  width: 100%;
  max-width: 150px;
  position: fixed;
  bottom: 5%;
  right: 30%;
  color: Black;
  font-weight: 400;
  background-color: #f6f6f6;
  opacity: 0.75;
  padding: 10px;
}

@media (max-width: 720px) {
  #share {
    display: none;
  }
}

.logo {
  position: absolute;
  bottom: 35px;
  right: 20px;
  text-align: right;
  font-size: 2em;
  color: Black;
}

.built_by {
  position: absolute;
  bottom: 70px;
  right: 94px;
  color: Grey;
}

#ubxd {
  color: Black;
}

#ubxd:hover {
  color: #812A80;
}


/* Buttons */


.flat_button {
  background-color: #a478c2;
  display: inline-block;
  cursor: pointer;
  color: White;
  font-size: 1em;
  padding: 5px 10px;
  text-decoration: none;
  border: 0;
}

.flat_button:hover {
  background-color: #c29fd1;
}

.flat_button:active {
  position: relative;
  top: 1px;
}


/* Mobile */


@media (max-width: 720px) {
  #mobile_menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #812A80;
    color: White;
    font-weight: 300;
    padding: 8px;
    overflow: auto;
    font-size: 0.7em;
  }
}

#mobile_heading {
  font-size: 1.5em;
}

#area_text {
  padding-right: 10px;
}

@media (min-width: 720px) {
  #mobile_menu {
    display: none;
  }
}

@media (max-width: 720px) {
  #mobile_footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #812A80;
    color: White;
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8em;
  }
}

@media (min-width: 720px) {
  #mobile_footer {
    display: none;
  }
}

@media (max-width: 720px) {
  .logo {
    display: none;
  }
}

@media (max-width: 720px) {
  .built_by {
    display: none;
  }
}

#petition_dropdown_mobile {
  max-width: 50%;
}

#area_dropdown {
  max-width: 30%;
}

#select_text {
  padding-right: 10px;
}

#mobile_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 #mobile_menu li {
  display: inline;
  padding-left: 10px;
}

#settings {
  padding-top: 8px;
}

#hide_ui {
  font-size: 0.8em;
  float: right;
  margin-right: 25px;
}

#mobile_share {
  font-size: 0.8em;
  float: left;
  margin-left: 25px;
}

#petition_link_mobile {
  font-size: 1em;
  width: 30%;
  float: left;
  margin-left: 5px;
}
