@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


/* General */


body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-weight: 300;
}

h1 {
  margin: 0 0 20px;
  font-weight: 300;
  color: white;
  font-size: 2.5em;
}

p, table {
  margin: 0px;
}

a {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
}

#petition_url {
  font-size: 1em;
  width: 50%;
}

#petition_link {
  font-size: 1em;
  width: 100%;
  margin-bottom: 10px;
}

#petition_button {
  font-size: 0.8em;
  margin-left: 0.2em;
}

#help {
  font-size: 0.9em;
  overflow: auto;
  max-height: 200px;
  padding-bottom: 20px;
}

.help_header {
  font-weight: 400;
  font-size: 1.1em;
}

#licence {
  font-size: 0.75em;
}

@media (max-height: 720px) {
  #licence {
    font-size: 0.6em;
  }
}

#geojson_link {
  color: #c29fd1;
}

#geojson_link:hover {
  color: white;
}


/* Right Column */
#right_column {
  width: 100%;
  float: right;
  color: white;
}

#petition_info {
  position: fixed;
  background-color: #812A80;
  bottom: 18%;
  left: 10px;
  font-size: 0.5em;
  max-width: 20%;
  padding: 10px;
}

@media (max-height: 480px) {
  #petition_info {
    bottom: 23%;
    font-size: 0.3em;
    max-width: 25%;
  }
}

@media (max-height: 360px) {
  #petition_info {
    visibility: hidden;
  }
}

@media (max-width: 720px) {
  .sign {
    max-width: 40%;
  }
}

#petition_action {
  font-size: 1.2em;
  font-weight: 400;
}

#signatures {
  font-size: 1.5em;
  padding-left: 2px;
}

#constituency_info {
  position: fixed;
  display: none;
  background-color: #812A80;
  top: 10%;
  left: 10px;
  width: 18%;
  font-size: 0.5em;
  padding: 10px;
}

@media (max-height: 480px) {
  #constituency_info {
    width: 35%;
    font-size: 0.3em;
    top: 12%;
  }
}

#constituency_name {
  font-size: 1.2em;
  font-weight: 400;
  padding-bottom: 5px;
}

#data_count {
  font-weight: 300;
  font-size: 2.5em;
}

#key {
  width: 100%;
  position: fixed;
  color: black;
  font-weight: 400;
  background-color: #f6f6f6;
  opacity: 0.75;
  top: 10%;
  right: 10px;
  max-width: 100px;
  padding: 5px;
  font-size: 0.5em;
}

@media (max-height: 480px) {
  #key {
    font-size: 0.3em;
    padding: 2px;
    top: 12%;
  }
}

@media (max-height: 360px) {
  #key {
    visibility: hidden;
  }
}

#controls {
  text-align: center;
  width: 100%;
  position: fixed;
  color: black;
  font-weight: 400;
  background-color: #f6f6f6;
  opacity: 0.75;
  bottom: 18%;
  right: 10px;
  max-width: 120px;
  padding: 5px;
  font-size: 0.6em;
}

@media (max-height: 480px) {
  #controls {
    font-size: 0.3em;
    bottom: 23%;
  }
}

@media (max-height: 360px) {
  #controls {
    display: none;
  }
}

.logo {
  position: absolute;
  bottom: 35px;
  right: 20px;
  text-align: right;
  font-size: 2em;
  color: Black;
}

.built_by {
  position: absolute;
  bottom: 70px;
  right: 94px;
  color: Grey;
}

#ubxd {
  color: Black;
}

#ubxd:hover {
  color: #812A80;
}

#spinner_area {
  position: fixed;
  top: 50%;
  left: 61%;
}

@media (max-width: 720px) {
  #spinner_area {
    left: 50%;
  }
}


/* Buttons */


.flat_button {
  background-color: #a478c2;
  display: inline-block;
  cursor: pointer;
  color: White;
  font-size: 1em;
  padding: 5px 10px;
  text-decoration: none;
  border: 0;
}

.flat_button:hover {
  background-color: #c29fd1;
}

.flat_button:active {
  position: relative;
  top: 1px;
}

.twitter {
  background-color: #00aced;
}

.twitter:hover {
  opacity: 0.5;
}

.facebook {
  background-color: #3b5998;
}

.facebook:hover {
  opacity: 0.5;
}

#spinner_area {
  position: fixed;
  top: 50%;
  left: 50%;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #812A80;
  color: White;
  font-weight: 300;
  padding: 8px;
  overflow: auto;
  font-size: 0.7em;
}

header .header-item {
  float: left;
  display: block;
  margin-right: 2em;
}
header h1 {
  font-size: 1.5em;
  margin-bottom: 0em;
}
header h1 .built-by {
  display: block  ;
  font-size: 0.6em;
}
header h1 .built-by a {
  font-weight: bold;
}

header .header-item-row {
  margin-bottom: 0.5em;
}
header form label {
  padding-right: 10px;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #812A80;
  color: White;
  font-weight: 300;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.8em;
}

#help, #licence {
  display: none;
}

#petition_dropdown {
  max-width: 50%;
}

#area_dropdown {
  max-width: 30%;
}

#settings {
  padding-top: 8px;
}

#hide_ui {
  font-size: 0.8em;
  float: right;
  margin-right: 25px;
  margin-bottom: 6px;
}

#share_button {
  font-size: 0.8em;
  float: left;
  margin-left: 25px;
  margin-bottom: 6px;
}

#support {
  background-color: #812A80;
  position: fixed;
  width: 200%;
  height: 200%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}


/* Modal */

.modal_header {
  padding-bottom: 5px;
}
