

/* Map */

.area {
  fill: #C0C0C0;
  color: #C0C0C0;
  stroke: none;
}

.boundary {
  fill: none;
  stroke: #777;
  stroke-width: 0.5;
}

.selected_boundary {
  stroke: black;
  stroke-width: 1;
}

.c1 { fill: #fed976; }
.c2 { fill: #feb24c; }
.c3 { fill: #fd8d3c; }
.c4 { fill: #fc4e2a; }
.c5 { fill: #e31a1c; }
.c6 { fill: #b10026; }
.c7 { fill: #8d001e; }
.c8 { fill: #6a0016; }

.t1 { color: #fed976; }
.t2 { color: #feb24c; }
.t3 { color: #fd8d3c; }
.t4 { color: #fc4e2a; }
.t5 { color: #e31a1c; }
.t6 { color: #b10026; }
.t7 { color: #8d001e; }
.t8 { color: #6a0016; }
