@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  padding:20px;
  font-family: 'Lato', sans-serif;
  color:#777;
  font-weight:300;
  background-color: White;
}

h1 {
  color:#222;
  margin:0 0 20px;
}

p, table {
  margin:0 0 10px;
}

h1 {
  line-height:1.1;
  color: #fff;
}

h1 {
  font-size:40px;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
}

.title {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.content {
    padding-top: 20px;
    padding-bottom: 10px;
}

#data_table {
    color: #fff;
    position: fixed;
    top: 40px;
    left: 25%;
    background-color: #812A80;
    display: none;
    width: 200px;
    height: 100px;
    padding: 20px;
}

#data-name {
  padding-bottom: 5px;
}

#data-count {
  font-size: 25px;
}

#choiceform {
    border-bottom: 1px solid #e5e5e5;
    color:#fff;
}

#left_column {
    width: 20%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    float:left;
    padding: 20px;
    color:#fff;
    background-color: #812A80;
}

#right_column {
    width: 65%;
    float: right;
}

.area{
    fill: #C0C0C0;
    color: #C0C0C0;
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #777;
}

.selected {
    fill: #fff;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.c1 { fill: #c0cfb2; }
.c2 { fill: #acbf99; }
.c3 { fill: #97b07f; }
.c4 { fill: #82a066; }
.c5 { fill: #6e904c; }
.c6 { fill: #598032; }
.c7 { fill: #447019; }
.c8 { fill: #306100; }

.coloured {}

.t1 { color: #c0cfb2; }
.t2 { color: #acbf99; }
.t3 { color: #97b07f; }
.t4 { color: #82a066; }
.t5 { color: #6e904c; }
.t6 { color: #598032; }
.t7 { color: #447019; }
.t8 { color: #306100; }

#petition {
  width: 100%;
  max-width: 600px;
}

#logo {
  text-align: right;
  font-size: 36px;
  color: Black;
}

#key {
  width: 100%;
  max-width: 150px;
  position: fixed;
  right: 20px;
  top: 20px;
  color: Black;
}
