@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,900);

body {
  font-family: 'Lato', sans-serif;
  color:#777;
  font-weight:300;
  background-color: White;
}

h1 {
  margin: 0 0 20px;
  line-height: 1.1;
  color: #fff;
  font-size: 2.5em;
}

p, table {
  margin: 0px;
}

a {
  color: #39c;
  font-weight: 400;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
}

#data_box {
  position: fixed;
  top: 40px;
  left: 25%;
  display: none;
  width: 12%;
  padding: 15px 20px 20px 20px;
  background-color: #812A80;
  color: #fff;
  font-size: 0.9em;
}

#petition_info {
  position: fixed;
  bottom: 40px;
  left: 25%;
  width: 18%;
  padding: 20px;
  background-color: #812A80;
  color: #fff;
  font-size: 0.9em;
}

#constituency_name {
  font-weight: bold;
  padding-bottom: 5px;
}

#constituency_count strong {
  font-size: 2em;
}

#petition_count strong {
  font-size: 2.5em;
}

#choiceform {
  color:#fff;
}

.flatButton {
  background-color: #a478c2;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1em;
  padding: 3px 10px;
  text-decoration: none;
}

.flatButton:hover {
  background-color: #c29fd1;
}

.flatButton:active {
  position: relative;
  top: 1px;
}

.form_section {
  padding-top: 3px;
}

#geojson_link {
  color: #c29fd1;
}

#geojson_link:hover {
  color: #ffffff;
}

#licence {
  position: absolute;
  bottom: 5%;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  width: 90%;
  vertical-align: bottom;
  font-size: 0.75em;
}

#left_column {
  height: 100%;
  width: 20%;
  top:0;
  left:0;
  position: absolute;
  float:left;
  padding: 20px;
  color: #fff;
  background-color: #812A80;
}

@media (max-width: 1024px) {
  #left_column {
    display: none;
  }
}

#right_column {
  width: 80%;
  float: right;
}

.area {
  fill: #C0C0C0;
  color: #C0C0C0;
  stroke: none;
}

.boundary {
  fill: none;
  stroke: #777;
  stroke-width: 0.5;
}

.c1 { fill: #c0cfb2; }
.c2 { fill: #acbf99; }
.c3 { fill: #97b07f; }
.c4 { fill: #82a066; }
.c5 { fill: #6e904c; }
.c6 { fill: #598032; }
.c7 { fill: #447019; }
.c8 { fill: #306100; }

.t1 { color: #c0cfb2; }
.t2 { color: #acbf99; }
.t3 { color: #97b07f; }
.t4 { color: #82a066; }
.t5 { color: #6e904c; }
.t6 { color: #598032; }
.t7 { color: #447019; }
.t8 { color: #306100; }

#petition {
  width: 85%;
}

#constituency {
  width: 85%;
}

#petition_code {
  font-size: 1em;
}

.logo {
  position: absolute;
  bottom: 35px;
  right: 20px;
  text-align: right;
  font-size: 2em;
  color: Black;
}

.version {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
  font-size: 0.8em;
}

#key {
  width: 100%;
  max-width: 150px;
  position: fixed;
  right: 20px;
  top: 20px;
  color: Black;
  font-weight: 400;
  background-color: #f6f6f6;
  opacity: 0.75;
  padding: 10px;
}

#controls {
  text-align: center;
  width: 100%;
  max-width: 150px;
  position: fixed;
  top: 350px;
  right: 20px;
  color: Black;
  font-weight: 400;
  background-color: #f6f6f6;
  opacity: 0.75;
  padding: 10px;
}

@media (min-width: 1024px) {
  #support {
    display: none;
  }
}

@media (max-width: 1024px) {
  #support {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #812A80;
    z-index: 99999;
  }
}

#support_text {
  text-align: center;
  font-size: 20px;
  color: White;
}

#support_cat {
  text-align: center;
  font-size: 100px;
  padding-top: 50px;
}
